.formContainer {
    color: white;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: 15px;
    text-align: center;
}

form input{
    width: 30%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 5px;
}

form textarea{
    width: 30%;
    resize: vertical;
    min-height: 140px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
    margin-top: 5px;
}

.formSubmit {
    height: 50px;
    background-color: rgb(48, 22, 165);
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: 0;
    transition: 0.5s;
    margin-top: 5px;
}

.formSubmit:hover {
    background-color: rgb(44, 22, 141);
}

