.conteudoUD, .conteudoTQC {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

.linkConteudo {
    width: 100%;
    border-top: 1px solid white;
    border-radius: 5px;
    background-color: #4592af;
    color: black;
    font-family: sans-serif;
    margin: 20px 10px;
    padding-left: 15px;
    cursor: pointer;
    text-decoration: none;
    height: 250px;
    transition: 0.5s;
}

.linkConteudo:hover {
    background-color: #569cb7;
}